node/node_modules
mysql/mysql
mysql/nodedb
mysql/performance_schema
mysql/sys
mysql/auto.cnf
mysql/ca-key.pem
mysql/ca.pem
mysql/client-cert.pem
mysql/client-key.pem
mysql/ib_buffer_pool
mysql/ib_logfile0
mysql/ib_logfile1
mysql/ibdata1
mysql/ibtmp1
mysql/private_key.pem
mysql/public_key.pem
mysql/server-cert.pem
mysql/server-key.pem
